.GoodsListForm {
    width: 50%;
    border: 2px solid gray;
    border-radius: 5px;
    margin: 20px 10px;
}

.GoodsListFormWrapper {
    display: flex;
    padding: 15px 5px;
    justify-content: space-between;
}

.GoodsListItem {
    width: 50%;
    padding: 0 20px;
}

.GoodsListFormInput {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 5px;
    opacity: 0.8;
    padding: 10px;
    margin-bottom: 20px;
}

.GoodsListFormButton {
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    color: white;
    width: 60px;
    border: 2px solid transparent;
    text-transform: uppercase;
    background-color: limegreen;
    border-radius: 5px;
    padding: 9px 11px;
    cursor: pointer;
}